{
    "groq": {
        "api_key": "abcd....",
        "api_url": "groq"
    },
    "ngc": {
        "api_key": "abcd....",
        "api_url": ""
    },
    "llamaparse": {
        "api_key": "abcd....",
        "api_url": ""
    },
    "cohere": {
        "api_key": "abcd....",
        "api_url": ""
    },
    "anthropic": {
        "api_key": "abcd....",
        "api_url": ""
    },
    "openrouter": {
        "api_key": "abcd....",
        "api_url": ""
    },
    "huggingface": {
        "api_key": "abcd....",
        "api_url": ""
    }

}