{
    "gemma7b": {
        "temperature": 0.2,
        "top_p": 0.7,
        "max_tokens": 1024,
        "seed": 42,
        "stream": true
    },
    "mixtral": {
        "temperature": 0.2,
        "top_p": 0.4,
        "max_tokens": 1024,
        "seed": 42,
        "stream": true
    },
    "mistral7b": {
        "temperature": 0.2,
        "top_p": 0.4,
        "max_tokens": 1024,
        "seed": 42,
        "stream": true
    },
    "phi2": {
        "temperature": 0.2,
        "top_p": 0.4,
        "max_tokens": 1024,
        "seed": 42,
        "stream": true
    },
    "yi34b": {
        "temperature": 0.2,
        "top_p": 0.4,
        "max_tokens": 1024,
        "seed": 42,
        "stream": true
    }
}